@charset "UTF-8";
/* ===================================================================
	Author: aki
=================================================================== */
html {
  font-size: 16px;
}

body {
  color: #252525;
  font-size: 1rem;
  line-height: 1.8em;
  font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  position: relative;
}

.allWrap {
  overflow: hidden;
  position: relative;
  padding-top: 180px;
}

_:lang(x)::-ms-backdrop, body {
  font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.2s linear;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}

a:active {
  text-decoration: none;
  color: #000;
}

.mf-frame {
  width: 1050px;
  margin: 0 auto;
  position: relative;
}

.clist {
  display: flex;
  flex-wrap: wrap;
}

.more {
  display: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: #000;
}

#main a[name] {
  display: block;
  margin: -100px 0 0 0;
  padding: 100px 0 0 0;
  position: relative;
  z-index: -9;
}

.break:before, .pc_break:before {
  content: '\A';
  white-space: pre;
  line-height: 0%;
  overflow: hidden;
  width: 0%;
  height: 0%;
  flex-grow: 0;
  flex-shrink: 0;
}

.forSP {
  display: none !important;
}

/***************************************************/
#h1text {
  display: none;
}

#header {
  width: 100%;
  height: 180px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 99;
  background: #fff;
}
#header input {
  display: none;
}

#hlinks {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #999;
  padding: 0.63rem 0;
}
#hlinks li {
  font-size: 0.75rem;
  line-height: 1em;
}
#hlinks li:nth-child(n+2) {
  padding-left: 0.5em;
  margin-left: 0.5em;
  border-left: solid 1px #999;
}

#hbox1 .hbox-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hbox1 {
  height: 100px;
}
#hbox1 .tellink {
  margin-left: auto;
  margin-right: 15px;
}

.hhojin {
  color: #fff !important;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, #fe6705 0%, #ff9754 100%);
  width: 220px;
  height: 74px;
  border-radius: 0.5rem;
}
.hhojin .s {
  font-size: 0.7777777778em;
}

#gnav {
  padding: 15px 99999px;
  margin-left: -99999px;
  margin-right: -99999px;
  background: #017fc3;
}
#gnav ul {
  display: flex;
  border-right: solid 1px #fff8f8;
}
#gnav li {
  width: 20%;
  border-left: solid 1px #fff8f8;
}
#gnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  color: #fff;
}

/***************************************************/
#pankuzu {
  display: none;
}

/***************************************************/
#mainvis {
  padding: 21px 0 40px;
}

/***************************************************/
#footer {
  padding-top: 1.75rem;
  padding-bottom: 1.25rem;
}

#footer .mf-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fbox1 {
  line-height: 1.63em;
  padding-top: 2.38rem;
}
#fbox1 ul {
  display: flex;
  align-items: center;
  margin-top: 2.88rem;
}
#fbox1 li {
  font-size: 0.75rem;
  color: #999;
}
#fbox1 li:nth-child(n+2) {
  border-left: solid 1px #999;
  padding-left: 0.5em;
  margin-left: 0.5em;
}

/*--------------------*/
#pagetop {
  position: absolute;
  bottom: 325px;
  right: 20px;
  z-index: 99;
  display: block !important;
}

/***************************************************/
#telpopup-frame {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
}

#telpopup-frame-inner {
  position: fixed;
  width: 90%;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#telpopup-close {
  padding: 30px 0 0 0;
}

#telpopup-close img {
  vertical-align: bottom;
}

#telpopup-close a {
  font-size: 0.9rem;
  line-height: 1.0;
  text-decoration: none;
  background: #ddd;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 20px 0;
  color: #000;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.65) 1px 1px 3px 0px;
}

#telpopup-gotel {
  font-size: 0.9rem;
  line-height: 1.7;
  text-decoration: none;
  background: #059ce1;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.65) 1px 1px 3px 0px;
}

#telpopup-shop {
  font-size: 1.2rem;
  line-height: 1.7;
}

#telpopup-gotel img {
  vertical-align: baseline;
}

#telpopup-gotel a {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: bold;
  text-decoration: underline;
}

#telpopup-stelb {
  padding: 15px 0 0 0;
}

#telpopup-stelb dl {
  margin: 0 0 10px 0;
}

#telpopup-stelb dt {
  font-weight: bold;
  line-height: 1em;
}

#telpopup-stelb dd:last-of-type {
  font-size: 0.9em;
}

.tellink {
  pointer-events: none;
  text-decoration: none;
}

/***********************************************/
.none {
  display: none;
}

.smpheader,
#smpmenu {
  display: none;
}

#telpopup-frame {
  display: none;
}

.pchide {
  display: none !important;
}

.smphide {
  display: block !important;
}

/**/
@media screen and (max-width: 1199px) {
  .mf-frame {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 850px) and (min-width: 481px) {
  html {
    overflow: auto;
    height: 100%;
  }

  body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
    position: relative;
    background-image: none;
  }

  .pchide {
    display: block !important;
  }

  br.pchide {
    display: inline-block;
  }

  .smphide,
  #mmenu {
    display: none !important;
  }

  .timg:after {
    content: attr(data-label);
    line-height: 1.1em;
  }

  .timg img {
    display: none;
  }

  img {
    max-width: 100%;
    height: auto !important;
  }

  .mf-frame {
    width: auto;
  }

  /***************************************************/
  /***************************************************/
  #pankuzu {
    display: none;
  }

  /***************************************************/
  div#mf_contact {
    padding: 0;
  }

  /***************************************************/
  #footer {
    padding: 30px 0 0;
  }

  /***************************************************/
  .tellink {
    pointer-events: auto;
    text-decoration: none;
  }

  #pagetop {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    text-align: right;
    display: block !important;
  }

  p#pagetop img {
    width: 60%;
  }

  /* z-index */
}
@media screen and (max-width: 850px) {
  html {
    overflow: auto;
    height: 100%;
    font-size: 3.2vw;
  }

  .allWrap {
    padding-top: 13.33vw;
  }

  .mf-frame {
    width: 92vw;
  }

  .forPC {
    display: none !important;
  }

  .pc_break:before {
    content: none;
  }

  .sp_break:before {
    content: '\A';
    white-space: pre;
    line-height: 0%;
    overflow: hidden;
    width: 0%;
    height: 0%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
    position: relative;
    background-image: none;
    font-size: 3.73vw;
  }

  .pchide {
    display: block !important;
  }

  br.pchide {
    display: inline-block;
  }

  .smphide,
  #mmenu {
    display: none !important;
  }

  .timg:after {
    content: attr(data-label);
    line-height: 1.1em;
  }

  .timg img {
    display: none;
  }

  img {
    max-width: 100%;
    height: auto !important;
  }

  .forSP {
    display: block !important;
  }

  img.forSP {
    display: inline-block !important;
  }

  #header {
    height: 13.33vw;
    overflow: visible;
    background: #fff;
    z-index: 99;
  }

  #hbox1 {
    height: 13.33vw;
  }
  #hbox1 .hlogo img {
    width: 26vw;
    flex-grow: 0;
    flex-shrink: 0;
  }
  #hbox1 .tellink {
    margin-right: 2.8vw;
  }
  #hbox1 .tellink img {
    width: 52.8vw;
  }

  #navBtn {
    display: inline-flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #017fc3;
    width: 13.33vw;
    height: 13.33vw;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: -4vw;
    cursor: pointer;
  }
  #navBtn:before, #navBtn:after {
    box-sizing: border-box;
    content: '';
    display: block;
    border-style: solid;
    border-color: #fff;
    width: 5.33vw;
  }
  #navBtn:before {
    border-width: 0.53vw 0;
    margin-bottom: 1.07vw;
    height: 2.13vw;
  }
  #navBtn:after {
    border-width: 0 0 0.53vw;
  }

  #gnavs {
    position: fixed;
    display: block !important;
    top: 13.33vw;
    right: -66.67vw;
    left: auto;
    bottom: 0;
    margin: auto;
    background: #017fc3;
    width: 66.67vw;
    transition: right 0.6s;
  }
  #gnavs .hbox-inner {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  #gnavs li {
    border-bottom: solid 1px #fff8f8;
  }
  #gnavs li a {
    display: flex;
    padding-left: 6.27vw;
    align-items: center;
    height: 15.73vw;
    color: #fff;
    font-size: 4.27vw;
  }
  #gnavs .btn {
    display: flex;
    margin: 2.67vw;
    height: 13.33vw;
    background-image: linear-gradient(0deg, #fe6705 0%, #ff9754 100%);
    color: #fff;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    font-size: 3.73vw;
    border-radius: 1.07vw;
  }

  #navChk:checked ~ #gnavs {
    right: 0;
    transition: right 0.6s;
  }

  /***************************************************/
  /***************************************************/
  #footer {
    padding-top: 6.67vw;
  }
  #footer .mf-inner {
    flex-direction: column;
  }

  #fbox1 {
    order: 1;
    padding-top: 8vw;
    text-align: center;
    font-size: 1rem;
    line-height: 1.67em;
  }
  #fbox1 ul {
    margin-top: 7.33vw;
    justify-content: center;
  }
  #fbox1 li {
    font-size: 0.83rem;
  }

  /***************************************************/
  .tellink {
    pointer-events: auto;
    text-decoration: none;
  }

  #pagetop {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    text-align: right;
    display: block !important;
  }

  p#pagetop img {
    width: 60%;
  }
}
