header.isActive {
  box-shadow: none !important;
  background: #fff !important;
  border-bottom: 1px solid #d1d1d1;
}

/* .prevent_scrolling {
  overflow: hidden;
} */

header.isActive .view_tabsp h1 {
  opacity: 0;
}

header.isActive .view_tabsp .menu_cont {
  background-color: #fff;
}

.m_menu{
  position: relative;
  margin: 4vw 0 0 auto;
  height: 7vw;
}
.m_menu span {
  background: #fff;
  border: none;
  height: 0.8vw;
  width: 100%;
  position: absolute;
  top: -3vw;
  left: 0;
  transition: all .25s ease;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.m_menu span:nth-child(1){
  height: 0.9vw;
}
.m_menu span.line_m{
  top: 0vw;
}
.m_menu span.line_b{
  top: 3vw;
}
.m_menu span.line_t.isActive {
  transform: rotate(45deg);
  top: 0vw;
  background-color: #000;
}

.m_menu span.line_m.isActive {
  opacity: 0;
}

.m_menu span.line_b.isActive {
  transform: rotate(-45deg);
  top: 0vw;
  background-color: #000;
}

.nav_sp {
  height: 100%;
  transition: .3s ease-in-out;
  transform: translateX(-100%);
}

.nav_sp.isActive {
  transform: translateX(0);
}
.change{
  display: none;
}
.change.isActive{
  display: block;
}
.anchor {
  content: '';
  display: block;
  width: 1px;
  height: 180px;
  margin-top: -180px;
}

.h2 {
  color: #017fc3;
  font-weight: 700;
  font-size: 2.38rem;
  line-height: 1.21em;
  margin-bottom: 1em;
  text-align: center;
}

#mainvis .mf-inner {
  text-align: center;
}
#mainvis h1 {
  text-align: center;
  margin-bottom: 0.88rem;
}
#mainvis .mvtxt {
  display: inline-flex;
  align-items: center;
  border: solid 0.31rem #017fc3;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.18);
  min-height: 110px;
}
#mainvis .mvtxt p:first-child {
  padding: 0 21px;
}
#mainvis .mvtxt p:first-child img {
  position: relative;
  top: -20px;
  height: auto;
  width: 268px;
}
#mainvis .tellink {
  padding-left: 21px;
  border-left: solid 5px #017fc3;
  margin-right: 19px;
}
#mainvis a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(0deg, #fe6705 0%, #ff9754 100%);
  color: #fff;
  font-size:1.2em;
  font-weight: 700;
  border-radius: 0.5rem;
  border: solid 3px #fffefe;
  width: 214px;
  height: 54px;
  margin-right: 30px;
}
#mainvis #hhojins {
  display: none;
}

#mf1 {
  background: #e2f3ff;
}
#mf1 .mf-inner {
  padding: 3.75rem 0;
}
#mf1 h2 {
  color: #017fc3;
  font-weight: 700;
  font-size: 2.38rem;
  margin-bottom: 2.5rem;
}
#mf1 h2 span:first-child {
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 3.75rem;
  margin-right: 1.56rem;
}
#mf1 h2 img {
  display: inline-block;
  margin: 0 0.875rem;
  vertical-align: text-bottom;
  margin-bottom: 0.2em;
}
#mf1 .clist {
  background: #fff;
  border-radius: 1.25rem;
  padding: 3.75rem;
}
#mf1 .cbox {
  margin-bottom: 3.13rem;
}
#mf1 .cbox p {
  font-size: 1.13rem;
  line-height: 1.89em;
  color: #222;
}
#mf1 h3 {
  color: #017fc3;
  font-size: 1.88rem;
  font-weight: 700;
  line-height: 1.5em;
  padding-left: 121px;
  position: relative;
  margin-bottom: 1.88rem;
}
#mf1 h3 .s {
  font-size: 0.8666666667em;
}
#mf1 h3 .l {
  font-size: 1.4em;
}
#mf1 h3 .org {
  color: #fe6c0e;
}
#mf1 h3 .kome {
  font-size: 0.5rem;
  color: #017fc3;
}
#mf1 h3 .num {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #017fc3;
  color: #fff;
  border-radius: 50%;
  width: 2.17em;
  height: 2.17em;
  font-size: 2.88rem;
}

#mf1c1 .cbox-inner {
  display: flex;
}
#mf1c1 h3 + p {
  padding-right: 4em;
}
#mf1c1 .cimg {
  margin-left: 1.5rem;
}

#mf1c2 .cbox-inner {
  text-align: center;
}
#mf1c2 h3 {
  margin-bottom: 1.25rem;
  text-align: left;
}
#mf1c2 h3 + p {
  margin-bottom: 2rem;
  text-align: left;
}

#mf1c3 .ctxt {
  padding-right: 342px;
  min-height: 246px;
  background: url("../img/top/mf1i3.png") right top no-repeat;
}

.mf-inqbox {
  border-color: #017fc3;
  border-width: 5px 0;
  border-style: solid;
  padding: 2rem 0;
}
.mf-inqbox .mf-inner {
  text-align: center;
}
.mf-inqbox .tellink {
  position: relative;
  padding-left: 174px;
  display: inline-block;
  color: #017fc3;
  font-weight: 700;
  font-size: 1.63rem;
  line-height: 1em;
  text-align: left;
  margin-bottom: 1.88rem;
}
.mf-inqbox .tellink > img:first-child {
  position: absolute;
  top: -58px;
  left: 0;
}
.mf-inqbox .tellink > img:last-child {
  margin-top: 21px;
  margin-bottom: 30px;
}
.mf-inqbox a {
  color: #fff;
  font-weight: 700;
  font-size: 1.63rem;
  display: inline-flex;
  width: 754px;
  height: 74px;
  background-image: linear-gradient(0deg, #fe6705 0%, #ff9754 100%);
  align-items: center;
  justify-content: center;
  border: solid 3px #fffefe;
  border-radius: 0.5rem;
}

#mf3 {
  padding-top: 3.75rem;
  background: url("../img/top/mf3bg.png");
  text-align: center;
  position: relative;
  padding-bottom: 100px;
}
#mf3:before {
  content: '';
  margin-left: 347px;
  width: 262px;
  height: 364px;
  background: url("../img/top/mf3i2.png") center bottom/contain no-repeat;
  position: absolute;
  left: 50%;
  bottom: 100px;
}
#mf3 h2 {
  margin-bottom: 3.125rem;
}
#mf3 ul {
  display: inline-block;
  text-align: left;
}
#mf3 li {
  font-size: 1.88rem;
  line-height: 1.4em;
  padding-left: 1.93em;
  text-indent: -1.94em;
  margin-bottom: 1em;
  font-weight: 700;
  width: 21em;
}
#mf3 li:before {
  content: '';
  display: inline-block;
  width: 1.93em;
  height: 1.33em;
  background: url("../img/top/mf3i1.png") left top/auto 100% no-repeat;
  text-indent: 0;
  vertical-align: text-top;
}
#mf3 .pro {
  position: absolute;
  width: 100%;
  bottom: -180px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 190px;
}
#mf3 .pro img {
  position: relative;
}
#mf3 .pro:before {
  content: '';
  display: block;
  position: absolute;
  height: 130px;
  background: #017fc3;
  transform: rotate(-3.2deg);
  top: -99999px;
  bottom: -99999px;
  left: -99999px;
  right: -99999px;
  margin: auto;
}

#mf4 {
  padding-top: 110px;
  padding-bottom: 5.13rem;
  text-align: center;
}
#mf4 h2 {
  margin-bottom: 2.38rem;
}
#mf4 h2 + img {
  margin-bottom: 5.13rem;
}
#mf4 ol {
  display: flex;
  margin: 0 -10px 40px;
}
#mf4 li {
  margin: 0 10px;
  background: #e2f3ff;
  border-radius: 1.25rem;
  width: 33%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}
#mf4 li:nth-child(2) {
  background: #c8e8ff;
}
#mf4 li > p:first-child {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 2.5rem;
  border-radius: 1.25rem;
  margin-bottom: 0.25rem;
}
#mf4 li > p:last-child {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  padding: 1.13rem 0;
  max-width: 100%;
}
#mf4 .clist {
  border-radius: 1.25rem;
  overflow: hidden;
}
#mf4 .cbox {
  background: #e2f3ff;
  text-align: left;
  padding: 3.75rem;
}
#mf4 .cbox:nth-child(2n) {
  background: #c8e8ff;
}
#mf4 .cbox-inner {
  padding-right: 330px;
  min-height: 200px;
  background: url("../img/top/mf4i1.jpg") right top no-repeat;
}
#mf4 h3 {
  color: #017fc3;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.44em;
  padding-left: 7.38rem;
  text-indent: -7.38rem;
  margin-bottom: 1.25rem;
}
#mf4 h3 span:first-child {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background: #fff;
  margin-right: 1.13rem;
  text-indent: 0;
}
#mf4 .ctxt {
  line-height: 2em;
}
#mf4 #mf4c2 .cbox-inner {
  background-image: url("../img/top/mf4i2.jpg");
}
#mf4 #mf4c3 .cbox-inner {
  background-image: url("../img/top/mf4i3.jpg");
}

#mf5 {
  padding-top: 5.56rem;
}
#mf5 .slide{
	margin:0 0 120px 0;
}
#mf5 .cbox {
  margin-bottom: 2.5rem;
  background: #e2f3ff;
  padding: 1.25rem;
}
#mf5 .after {
  position: relative;
  min-height: 13rem;
  background: url("../img/top/mf5bg.png");
  padding: 1.88rem 1.88rem 1.88rem 210px;
  margin-bottom: 1.25rem;
}
#mf5 .case {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  border-radius: 50%;
  width: 156px;
  height: 156px;
  color: #017fc3;
  font-size: 1.31rem;
  font-weight: 700;
  text-align: center;
  background: url("../img/top/mf5i1.png") center center/contain no-repeat;
  padding-top: 20px;
  line-height: 1em;
}
#mf5 .case span {
  display: block;
  font-size: 2.43em;
  line-height: 1em;
  margin-bottom: 0.2em;
}
#mf5 .job {
  display: flex;
  font-weight: 700;
  font-size: 1.44rem;
  align-items: center;
  margin-bottom: 1.75rem;
}
#mf5 .job span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #017fc3;
  color: #fff;
  width: 16.52em;
  height: 1.74em;
  margin-right: 0.61em;
}
#mf5 .theme {
  margin-bottom: 1.25rem;
}
#mf5 .theme .cboxs-inner {
  display: flex;
  align-items: center;
}
#mf5 .theme .cboxs-inner p:first-child {
  background: #017fc3;
  color: #fff;
  font-size: 1.44rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.35rem;
  min-height: 4.35rem;
  margin-right: 2.06rem;
  align-self: stretch;
  flex-grow: 0;
  flex-shrink: 0;
}
#mf5 .theme .cboxs-inner p:last-child {
  font-size: 1.44rem;
  line-height: 2em;
  font-weight: 700;
}
#mf5 .sv {
  margin-bottom: 1.25rem;
  background: #fff;
}
#mf5 .sv .cboxs-inner {
  display: flex;
  align-items: flex-start;
  padding: 1.75rem;
}
#mf5 .sv p {
  font-size: 1.44rem;
  line-height: 2em;
  font-weight: 700;
}
#mf5 .sv p:first-child {
  color: #017fc3;
  margin-right: 1.5em;
}
#mf5 .act {
  background: #fff;
}
#mf5 .act p:first-child {
  background: #697784;
  color: #fff;
  font-weight: 700;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.44rem;
}
#mf5 .act p:last-child {
  font-size: 1.13rem;
  line-height: 1.89em;
  font-weight: 700;
  padding: 1.67em;
}

#mf6 {
  padding-bottom: 6.38rem;
}
#mf6 table {
  border-collapse: collapse;
  width: 100%;
  border: solid 1.25rem #e2f3ff;
  margin-bottom: 2.5rem;
}
#mf6 th, #mf6 td {
  border: solid 1px #c9c9c9;
}
#mf6 th {
  background: #f08c35;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 1.38rem;
}
#mf6 tr:first-child th {
  background: #f9f0e8;
  font-weight: normal;
  width: 20.67%;
  padding: 1.25rem 0;
  font-size: 1rem;
  color: #222;
}
#mf6 tr:first-child th:first-child {
  width: 10.23%;
}
#mf6 tr:first-child th:nth-child(4) {
  width: 26.93%;
  color: #fff;
  background: #017fc3;
}
#mf6 td {
  align-content: center;
  padding: 1.25em;
}
#mf6 .pdf {
  text-align: center;
}
#mf6 .pdf a {
  text-decoration: underline;
  color: #017fc3;
}
#mf6 .cbox {
  border: solid 0.5rem #fe6c0e;
  border-radius: 1.56rem;
  background: url("../img/top/mf5bg.png");
}
#mf6 .cbox h3 {
  background: #fe6c0e;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1em;
  padding: 0.5rem 0 1rem;
  text-align: center;
}
#mf6 .cbox .flex {
  padding: 2.5rem;
  display: flex;
}
#mf6 .cbox .cimg {
  margin-left: 2rem;
  max-width: 70%;
}
#mf6 .cbox .cimg img {
  max-width: 100%;
  height: auto;
}

#mf7 {
  padding-top: 5.5rem;
}
#mf7 h2 {
  margin-bottom: 3.75rem;
}
#mf7 .clist {
  margin: 0 -10px;
}
#mf7 .cbox {
  width: 30%;
  flex-grow: 1;
  margin: 0 10px 40px;
  background: #e2f3ff;
  border-radius: 20px;
  position: relative;
}
#mf7 .cbox-inner > p:first-child {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 40px;
  background: #017fc3;
  transform: translateY(-50%);
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1;
}
#mf7 .cimg {
  border-radius: 20px 20px 0 0;
  background: url("../img/top/mf7i1.jpg") top/100% no-repeat;
  padding-bottom: 50%;
  position: relative;
}
#mf7 .ctxt {
  padding: 1.13rem 1.375rem;
}
#mf7 h3 {
  color: #017fc3;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.7em;
}
#mf7 h3 + p {
  line-height: 1.63em;
}

#mf7c2 .cimg {
  background-image: url("../img/top/mf7i2.jpg");
}

#mf7c3 .cimg {
  background-image: url("../img/top/mf7i3.jpg");
}

#mf7c4 .cimg {
  background-image: url("../img/top/mf7i4.jpg");
}

#mf7c5 .cimg {
  background-image: url("../img/top/mf7i5.jpg");
}

#mf7c6 .cimg {
  background-image: url("../img/top/mf7i6.jpg");
}

#mf8 {
  padding-top: 5.5rem;
}
#mf8 .cbox {
  margin-bottom: 2.5rem;
}
#mf8 h3 {
  background: #017fc3;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  height: 2.14em;
  border-radius: 1.07em;
  margin-bottom: 1.75rem;
}
#mf8 .cimg {
  background: url("../img/top/mf8i1.jpg") center center/cover no-repeat;
  padding-bottom: 30%;
  margin-bottom: 1.88rem;
}
#mf8 .ctxt {
  line-height: 1.63em;
}

#mf9 {
  padding-top: 3.13rem;
  padding-bottom: 5.63rem;
  counter-reset: qa;
}
#mf9 .cbox {
  padding: 1.88rem;
  counter-increment: qa;
}
#mf9 .cbox:nth-of-type(2n-1) {
  background: #f5f5f5;
}
#mf9 .ico {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 700;
  border-radius: 50%;
  background: #fe6c0e;
  position: absolute;
  left: 0;
  top: 0;
  width: 3.75rem;
  height: 3.75rem;
}
#mf9 .ico:after {
  content: counter(qa);
}
#mf9 h3, #mf9 .a {
  padding-left: 5rem;
  position: relative;
  min-height: 3.75rem;
  display: flex;
  align-items: center;
}
#mf9 h3 {
  margin-bottom: 0.63rem;
  font-weight: 700;
  font-size: 2rem;
}
#mf9 h3 .ico {
  background: #017fc3;
}
#mf9 .ban {
  margin-top: 3.75rem;
}
#mf9 .ban img {
  width: 100%;
  height: auto;
}

#mf8c2 .cimg {
  background-image: url("../img/top/mf8i2.jpg");
}

#mf-inq {
  padding-top: 5.63rem;
  padding-bottom: 2.25rem;
  background: #e2f3ff;
}
#mf-inq h2 + div {
  text-align: center;
  margin-bottom: 1rem;
}
#mf-inq .tellink {
  margin-top: 1.88rem;
}
#mf-inq .step {
  height: 74px;
  background: url("../img/top/mf-inqi1.png") left/100% 100% no-repeat;
  margin-bottom: 2.5rem;
  display: flex;
}
#mf-inq .step li {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.88rem;
  font-weight: 700;
}
#mf-inq .step li:nth-child(n-1) {
  width: 34.6%;
  margin-right: 1.5rem;
}
#mf-inq .step img {
  display: inline-block;
  margin-left: 2.13rem;
  margin-right: 2rem;
}
#mf-inq form {
  text-align: center;
}
#mf-inq table {
  border-collapse: collapse;
  border-bottom: solid 1px #ccc;
  width: 100%;
  margin-bottom: 1.75rem;
}
#mf-inq th, #mf-inq td {
  border-top: solid 1px #ccc;
  padding: 1.75rem 0;
  text-align: left;
}
#mf-inq th {
  font-size: 0.94rem;
  color: #252525;
  padding-left: 1rem;
  padding-right: 64px;
  position: relative;
}
#mf-inq th span {
  position: absolute;
  right: 0;
  top: 1.75rem;
  display: inline-flex;
  background: #f80000;
  color: #fff;
  border-radius: 0.25em;
  width: 4.17em;
  height: 2em;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  margin-left: 1.17em;
}
#mf-inq td {
  padding-left: 2.73em;
  font-size: 0.94rem;
}
#mf-inq input {
  border: none;
  box-shadow: none;
}
#mf-inq label {
  display: inline-flex;
  align-items: center;
  margin-right: 1.87em;
}
#mf-inq input {
  height: 2.5rem;
  padding-left: 1rem;
  width: 100%;
  border: none;
}
#mf-inq input[type="checkbox"] {
  width: 1.38rem;
  padding-left: 0;
  height: 1.38rem;
  margin-right: 0.67em;
  display: inline-block;
}
#mf-inq select {
  width: auto;
  height: 2.5rem;
  min-width: 13.33em;
  border: none;
}
#mf-inq .half {
  width: 13.33em;
}
#mf-inq .tel input {
  width: 8em;
}
#mf-inq textarea {
  width: 100%;
  height: 11.25rem;
  border: none;
}
#mf-inq .priv {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mf-inq .priv a {
  text-decoration: underline;
  color: #017fc3;
  font-size: 0.94rem;
}
#mf-inq button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.94rem;
  width: 17.33em;
  height: 3.47em;
  border-radius: 0.4em;
  background: #017fc3;
  border: none;
}

h1.inq {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  color: #017fc3;
  padding-top: 2rem;
}

#mf-thank .mf-inner {
  background: #fff;
  border-radius: 0.5rem;
  border: solid 0.25rem #e2f3ff;
  padding: 4rem 0;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .anchor {
    height: 13.33vw;
    margin-top: -13.34vw;
  }

  .h2 {
    font-size: 1.75rem;
  }

  #mainvis {
    padding-top: 1.33vw;
  }
  #mainvis #hhojins {
    display: flex !important;
    font-size: 1.17rem;
    width: auto;
    margin: 0 auto 2.67vw;
    flex-direction: row;
  }
  #mainvis #hhojins .s {
    margin-bottom: 0;
    margin-right: 1.5em;
  }
  #mainvis .mvtxt {
    display: block;
    border-width: 0.67vw;
    box-shadow: 0px 0px 2.67vw 0px rgba(0, 0, 0, 0.18);
    min-height: inherit;
    padding: 0 4vw 4vw 4vw;
  }
  #mainvis .mvtxt p:first-child {
    padding: 0 4vw;
    border-bottom: solid 0.8vw #017fc3;
    margin-bottom: 4vw;
  }
  #mainvis .mvtxt p:first-child img {
    top: -1.74vw;
    width: 66.8vw;
  }
  #mainvis .tellink {
    padding-left: 0;
    border-left: none;
    margin-right: 0;
    background-image: linear-gradient(0deg, #249a46 0%, #3fc064 100%);
    margin-bottom: 2.67vw;
    height: 12vw;
    border-radius: 2.13vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #mainvis .tellink img {
    width: 48vw;
  }
  #mainvis a {
    border-radius: 2.13vw;
    width: auto;
    height: 12vw;
    font-size: 1.33rem;
    margin-right: 0;
  }

  #mf1 .mf-inner {
    padding: 6.67vw 0;
  }
  #mf1 h2 {
    font-size: 1.5833333333rem;
    margin-bottom: 3.87vw;
    text-align: center;
  }
  #mf1 h2 span:first-child {
    display: flex;
    width: 26.67vw;
    height: 8vw;
    margin: 0 auto 4.27vw;
  }
  #mf1 h2 span:first-child img {
    width: 14.67vw;
    height: auto;
  }
  #mf1 h2 img {
    width: 4.53vw;
  }
  #mf1 .clist {
    padding: 5.33vw 4vw;
  }
  #mf1 .cbox {
    margin-bottom: 5.33vw;
  }
  #mf1 .cbox p {
    font-size: 1.17rem;
  }
  #mf1 h3 {
    font-size: 1.33rem;
    padding-left: 16.27vw;
    margin-bottom: 5.2vw;
  }
  #mf1 h3 .num {
    width: 13.33vw;
    height: 13.33vw;
    font-size: 1.92rem;
  }
  #mf1 h3 + p {
    margin-bottom: 4.8vw;
  }

  #mf1c1 .cbox-inner {
    display: block;
  }
  #mf1c1 h3 + p {
    padding-right: 0;
  }
  #mf1c1 .cimg {
    margin-left: 0;
    text-align: center;
  }
  #mf1c1 .cimg img {
    width: 66.67vw;
  }

  #mf1c2 h3 {
    margin-bottom: 1.25rem;
    text-align: left;
  }
  #mf1c2 h3 + p {
    margin-bottom: 2rem;
    text-align: left;
  }

  #mf1c3 .ctxt {
    padding-right: 0;
    padding-bottom: 61.07vw;
    min-height: inherit;
    background-position: center bottom;
    background-size: 66.67vw;
  }

  .mf-inqbox {
    border-width: 1.33vw 0;
    padding: 5.2vw 0;
  }
  .mf-inqbox .tellink {
    padding-left: 28.93vw;
    display: block;
    font-size: 1.67rem;
    line-height: 1.35em;
    margin-bottom: 2.67vw;
  }
  .mf-inqbox .tellink > img:first-child {
    top: -11.6vw;
    left: 0;
    width: 28vw;
  }
  .mf-inqbox .tellink > img:last-child {
    display: block !important;
    width: 92vw;
    max-width: none !important;
    margin: 4.93vw 0 0 -28.94vw;
  }
  .mf-inqbox a {
    font-size: 1.25rem;
    display: flex;
    width: auto;
    height: 13.33vw;
    border: none;
    border-radius: 2.13vw;
  }

  #mf3 {
    padding-top: 6.67vw;
    padding-bottom: 17vw;
  }
  #mf3:before {
    content: none;
  }
  #mf3 h2 {
    margin-bottom: 6.27vw;
  }
  #mf3 ul {
    display: block;
    padding: 0 3.33vw;
  }
  #mf3 li {
    font-size: 1.25rem;
    padding-left: 8.53vw;
    text-indent: -8.54vw;
    width: auto;
  }
  #mf3 li:before {
    content: '';
    display: inline-block;
    width: 1.93em;
    height: 1.33em;
    background: url("../img/top/mf3i1.png") left top/auto 100% no-repeat;
    text-indent: 0;
    vertical-align: text-top;
  }
  #mf3 .pro {
    position: absolute;
    width: 100vw;
    bottom: -47vw;
    left: -4vw;
    height: 53.47vw;
  }
  #mf3 .pro img {
    width: 100%;
  }
  #mf3 .pro:before {
    content: none;
  }

  #mf4 {
    padding-top: 27vw;
    padding-bottom: 0;
  }
  #mf4 h2 {
    margin-bottom: 6.8vw;
  }
  #mf4 ol {
    display: block;
    margin: 3.47vw 0 4vw;
  }
  #mf4 li {
    margin: 0 0 2.67vw;
    border-radius: 2.67vw;
    width: auto;
    padding: 4vw;
  }
  #mf4 li > p:first-child {
    height: 9.33vw;
    border-radius: 4.67vw;
  }
  #mf4 li:first-child p:last-child img {
    width: 55.07vw;
  }
  #mf4 li:nth-child(2) p:last-child img {
    width: 77.07vw;
  }
  #mf4 li:nth-child(3) p:last-child img {
    width: 54.27vw;
  }
  #mf4 .clist {
    border-radius: 0;
    margin: 0 -4vw;
  }
  #mf4 .cbox {
    padding: 6.67vw 4vw;
  }
  #mf4 .cbox-inner {
    padding-right: 0;
    padding-bottom: 51.2vw;
    background-position: center bottom;
    background-size: 66.67vw;
  }
  #mf4 h3 {
    font-size: 1.5rem;
    padding-left: 22.4vw;
    text-indent: -22.4vw;
    margin-bottom: 4.13vw;
  }
  #mf4 h3 span:first-child {
    width: 18.67vw;
    height: 9.33vw;
    margin-right: 3.73vw;
  }
  #mf4 h3 span:first-child img {
    width: auto;
    height: 3.6vw !important;
  }
  #mf4 .ctxt {
    font-size: 1.17rem;
    line-height: 1.57em;
  }
  #mf4 #mf4c2 h3 {
    margin-top: -1.74vw;
  }
  #mf4 #mf4c2 h3 span:first-child {
    position: relative;
    top: 1.73vw;
  }

  #mf5 {
    padding-top: 12vw;
  }
  #mf5 .slide {
	margin: 0 0 15vw 0;
}
  #mf5 .cbox {
    margin-bottom: 5.33vw;
    padding: 2.67vw;
  }
  #mf5 .after {
    min-height: inherit;
    padding: 2.67vw;
    margin-bottom: 2.67vw;
  }
  #mf5 .after .cboxs-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #mf5 .case {
    position: static;
    width: 15.47vw;
    height: 15.47vw;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0.66rem;
    padding-top: 2.13vw;
    line-height: 1em;
    margin-bottom: 2.67vw;
  }
  #mf5 .case span {
    line-height: 1em;
    margin-bottom: 0.5em;
  }
  #mf5 .job {
    display: block;
    width: 62.67vw;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.25rem;
    margin-bottom: 2.67vw;
  }
  #mf5 .job span {
    display: flex;
    width: 100%;
    height: 8vw;
    margin-right: 0;
  }
  #mf5 .theme {
    margin-bottom: 4vw;
  }
  #mf5 .theme .cboxs-inner {
    display: block;
  }
  #mf5 .theme .cboxs-inner p:first-child {
    font-size: 1.33rem;
    width: auto;
    min-height: inherit;
    height: 9.33vw;
    margin-right: 0;
    margin-bottom: 2.67vw;
  }
  #mf5 .theme .cboxs-inner p:last-child {
    font-size: 1.17rem;
    line-height: 1.64em;
  }
  #mf5 .sv {
    margin-bottom: 2.67vw;
  }
  #mf5 .sv .cboxs-inner {
    display: block;
    padding: 3.2vw;
  }
  #mf5 .sv p {
    font-size: 1.17rem;
    text-align: center;
  }
  #mf5 .sv p:first-child {
    margin-right: 0;
  }
  #mf5 .act p:first-child {
    font-size: 1.33rem;
  }
  #mf5 .act p:last-child {
    font-size: 1.17rem;
    padding: 2.67vw;
  }

  #mf6 {
    padding-top: 6.67vw;
    padding-bottom: 0;
    background: #e2f3ff;
  }
  #mf6 .twrap {
    width: calc(100% + 8vw);
    overflow: scroll;
  }
  #mf6 .twrap::-webkit-scrollbar {
    width: 4vw;
  }
  #mf6 .twrap::-webkit-scrollbar-thumb {
    background: #000;
  }
  #mf6 .twrap::-webkit-scrollbar-track-piece:start {
    background: #fff;
  }
  #mf6 .twrap::-webkit-scrollbar-track-piece:end {
    background: #fff;
  }
  #mf6 table {
    width: auto;
    margin-bottom: 2.67vw;
    background: #fff;
  }
  #mf6 th, #mf6 td {
    white-space: nowrap;
    padding: 4vw;
  }
  #mf6 th {
    font-size: 0.92rem;
  }
  #mf6 tr:first-child th {
    width: 46vw;
    font-size: 0.67 rem;
  }
  #mf6 tr:first-child th:first-child {
    width: 22.4vw;
  }
  #mf6 tr:first-child th:nth-child(3) {
    width: 29.2vw;
  }
  #mf6 tr:first-child th:nth-child(4) {
    width: 26.93%;
    color: #fff;
    background: #017fc3;
  }
  #mf6 td {
    align-content: center;
    padding: 1.25em;
  }
  #mf6 .pdf {
    text-align: center;
  }
  #mf6 .pdf a {
    text-decoration: underline;
    color: #017fc3;
  }
  #mf6 .cbox {
    background: #fff;
    margin-left: -4vw;
    margin-right: -4vw;
    padding: 6.67vw 4vw 14.27vw;
    border: none;
    border-top: solid 2.67vw #e2f3ff;
    border-radius: 0;
    ndt: solid 4vw #e2f3ff;
  }
  #mf6 .cbox .cbox-inner {
    border: solid 0.5rem #fe6c0e;
    border-radius: 1.56rem;
    background: url("../img/top/mf5bg.png");
  }
  #mf6 .cbox h3 {
    font-size: 1.33rem;
    padding: 1rem;
  }
  #mf6 .cbox .flex {
    padding: 5.33vw 4vw 4vw;
    display: block;
  }
  #mf6 .cbox .ctxt {
    margin-bottom: 6.67vw;
  }
  #mf6 .cbox .ctxt p {
    margin-bottom: 1em;
  }
  #mf6 .cbox .cimg {
    margin-left: 0;
    max-width: inherit;
  }

  #mf7 {
    padding-top: 12vw;
  }
  #mf7 h2 {
    margin-bottom: 9.87vw;
  }
  #mf7 .clist {
    margin: 0 -0.67vw;
  }
  #mf7 .cbox {
    width: 40%;
    margin: 0 0.67vw 8.67vw;
    border-radius: 2.67vw;
  }
  #mf7 .cbox-inner > p:first-child {
    width: 21.33vw;
    border-radius: 2.67vw;
    height: 6.67vw;
    left: 0;
    right: 0;
    margin: auto;
  }
  #mf7 .cimg {
    border-radius: 2.67vw 2.67vw 0 0;
  }
  #mf7 .ctxt {
    padding: 2.67vw;
  }
  #mf7 h3 {
    font-size: 1.17rem;
  }

  #mf8 {
    padding-top: 12vw;
  }
  #mf8 .cbox {
    margin-bottom: 4.27vw;
  }
  #mf8 h3 {
    font-size: 1.33rem;
    height: 9.33vw;
    border-radius: 2.13vw;
    margin-bottom: 4vw;
  }
  #mf8 .cimg {
    margin-bottom: 3.6vw;
  }
  #mf8 .ctxt {
    font-size: 1.17rem;
  }

  #mf9 {
    padding-top: 8vw;
    padding-bottom: 6.67vw;
  }
  #mf9 .cbox {
    margin-left: -4vw;
    margin-right: -4vw;
    padding: 4vw;
  }
  #mf9 .ico {
    font-size: 1.17rem;
    width: 10.67vw;
    height: 10.67vw;
  }
  #mf9 h3, #mf9 .a {
    padding-left: 13.33vw;
    min-height: 13.33vw;
  }
  #mf9 h3 {
    margin-bottom: 3.47vw;
    font-size: 1.33rem;
  }
  #mf9 .a {
    font-size: 1.17rem;
  }
  #mf9 .ban {
    margin-top: 6.67vw;
  }

  #mf-inq {
    padding-top: 6.67vw;
    padding-bottom: 8vw;
  }
  #mf-inq h2 + div {
    font-size: 1.17rem;
  }
  #mf-inq .tellink {
    margin-top: 4vw;
  }
  #mf-inq .step {
    height: 12.13vw;
    margin-bottom: 7.07vw;
    border: solid 0.4vw #fff;
  }
  #mf-inq .step li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3rem;
    text-indent: -0.5em;
    line-height: 1em;
  }
  #mf-inq .step span {
    display: inline-block;
    margin-left: 4.5vw;
  }
  #mf-inq .step img {
    margin: 0 0 0.8vw 3vw;
    width: auto !important;
    height: 1.87vw !important;
  }
  #mf-inq table, #mf-inq tbody, #mf-inq tr, #mf-inq th, #mf-inq td {
    display: block;
  }
  #mf-inq table {
    border: none;
    margin-bottom: 7.33vw;
  }
  #mf-inq th, #mf-inq td {
    border: none;
    padding: 0;
  }
  #mf-inq th {
    font-size: 1.25rem;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2.13vw;
  }
  #mf-inq th span {
    position: static;
    background: #ef5757;
    border-radius: 0;
    font-size: 0.73eem;
  }
  #mf-inq td {
    padding-left: 0;
    font-size: 1.25rem;
    margin-bottom: 8vw;
  }
  #mf-inq label {
    margin-right: 3.73vw;
  }
  #mf-inq input {
    height: 10.4vw;
  }
  #mf-inq input[type="checkbox"] {
    width: 5.07vw;
    height: 5.07vw;
    background: #fff;
    margin-right: 1.33vw;
  }
  #mf-inq .check01sp {
    display: block;
    margin-right: -1.34vw;
  }
  #mf-inq select {
    width: 100%;
    height: 10.4vw;
    border: none;
    min-height: inherit;
    border: none;
    border-radius: 0;
    background: #fff;
  }
  #mf-inq .half {
    width: 100%;
  }
  #mf-inq .half + .half {
    margin-top: 2.67vw;
  }
  #mf-inq .tel {
    font-size: 0%;
    display: flex;
    justify-content: space-between;
  }
  #mf-inq .tel input {
    width: 29.6vw;
  }
  #mf-inq textarea {
    height: 39.73vw;
  }
  #mf-inq .priv {
    margin-bottom: 7.47vw;
    align-items: flex-start;
  }
  #mf-inq .priv input {
    border: none;
    width: 5.33vw;
    height: 5.33vw;
    margin-right: 2.67vw;
  }
  #mf-inq .priv label {
    display: block;
    text-align: left;
    font-size: 1.17rem;
    line-height: 5.33vw;
  }
  #mf-inq .priv a {
    font-size: 1em;
  }
  #mf-inq button {
    font-size: 1.25rem;
    width: 77.33vw;
    height: 12vw;
    border-radius: 1.6vw;
  }
}
